.container {
    position: relative;
    width: 335px;
    height: 450px;
    background-color: hsl(134, 10%, 34%);
    border-radius: 10px;
    box-shadow: 0px 2px 10px #252525;

    .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 190px;
        right: 15px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #a88e67;
        z-index: 100;

        p {
            color: #e6eaf2;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .photoContainer {

        width: auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        img {
            width: auto;
            height: auto;
        }
    }

    .infoContainer {
        height: 234px;
        padding: 20px 10px 10px 10px;
        border-bottom: #9a8668 solid 5px;
        border-left: #9a8668 solid 5px;
        border-right: #9a8668 solid 5px;
        border-radius: 0 0 10px 10px;

        h3 {
            font-size: 1.6rem;
            margin-bottom: 5px;
        }

        h4 {
            font-size: 1.3rem;
        }

        .nameAddress {
            padding-bottom: 2rem;
            border-bottom: #e6eaf2 solid 1px;
        }

        .schedules {
            padding: 5px 5px;
            display: flex;
            justify-content: space-around;
            border-bottom: #e6eaf2 solid 1px;
        }

        .buttons{
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }


}